@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
  }
}

@layer components {
  #root {
    min-height: 100vh;
  }

  .chat-pre {
    white-space: pre-wrap;
    font: inherit;
    margin: 0;
  }
}